div{
    height: 100px;
    background-position: 0% 9%;
    width: 100%;
    
}

app-rsocial {
    float: right;
    margin-top: 20px;
    margin-right: 0em;
}

app-login{
    float: right;    
    margin-top: 15px;
    margin-right: 2em;
    align-items: center;
}

/* para la vista de celular */



@media(max-width:504px){
    app-rsocial, app-login{
        display: inline;
    flex-direction: column;    
    align-items: center;
    }
}