.cent{
    text-align: center;
}

@media (max-width: 321px) {
    .container{
    padding:0px;
    margin-bottom: 10px;
    max-width: 750px;
    min-height: 100px;
}
}
@media (max-width: 375px) {
    .container{
    padding:0px;
    margin-bottom: 10px;
    max-width: 750px;
    min-height: 350px;
}
}
@media (max-width: 425px) {
    .container{
    padding:0px;
    margin-bottom: 10px;
    max-width: 750px;
    min-height: 400px;
    
}
}

@media (min-width: 760px){
    .container{        
    flex-direction: row;
    width:100%;
    display: flex;
    min-height: 100px;
    vertical-align: middle;
    }

    app-rsocial{        
    vertical-align: bottom;
    }

    app-login{ 
        
    vertical-align: middle;
    }
}

@media (min-width: 1040px){
    .container{        
    flex-direction: row;
    width:100%;
    display: flex;
    min-height: 50px;
    vertical-align: middle;
    }

    app-rsocial{        
    vertical-align: bottom;
    }

    app-login{ 
        
    vertical-align: middle;
    }
}

