.RightHeader{
    background-color: rgb(155, 67, 67);
    color: white;
    padding: 10px;
    margin-top: 25px ;
    margin-left: 5px;
    margin-right: 20px;
    float: right;
}
.LeftHeader{
    background-color: rgb(155, 67, 67);
    color: white;
    padding: 10px;
    margin-top: 25px ;
    margin-left: 0px;
    margin-right: 20px;
    float: left;
}