<div class="row">
  <h1 class="text-center">PROYECTOS REALIZADOS</h1>
  
    <button type="button" routerLink="/newproyecto" class="btn btn-secondary" *ngIf="isLogged">Nuevo Proyecto</button>
  
  <div class="container" *ngFor="let proyecto of proyecto">
     
        <div class="col-sm-12 col-md-4 col-lg-3 offset-lg-1 parte2">
            <img src={{proyecto.img}} class="img-fluid img-proyecto text-center" />
        </div>
        <div class="col-sm-12 col-md-7 offset-md-1 col-lg-7 offset-lg-1 parte1">
            <h1>{{proyecto.proyecto}}</h1>
            <p>{{proyecto.descripcion}}</p>
            <h3>Fecha de Realizacion:</h3>
            <p>{{proyecto.fecha}}</p>
        </div>     
        <div>
            <td *ngIf="isLogged">
              <button class="btn btn-dark" routerLink="/editproyecto/{{proyecto.id}}">
              <i class="bi bi-pencil"></i>                
          </button>
              </td>
          <td *ngIf="isLogged">
              <button class="btn btn-danger" (click)="delete(proyecto.id)" >
              <i class="bi bi-trash-fill"></i></button></td>
        </div>   
  </div>

  
</div>
