<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../assets/Adelanto SyF (10) (1).jpg" 
        alt="Foto" 
        class="img-fluid"
        id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}}{{persona.apellido}} </p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Franco</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ullam maxime magnam mollitia vel dicta illo consequuntur 
                non inventore molestiae earum distinctio, tenetur, magni 
                deleniti eligendi autem. Accusantium ex consectetur itaque.
            </p>
        </span>
    </div>
</div> 