<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../assets/Adelanto SyF (10) (1).jpg" 
        alt="Foto" 
        class="img-fluid"
        id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}}Franco Angiolini{{persona.apellido}} </p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de Franco</h2>
            <p>Franco es una persona muy curiosa, constantemente busca aprender nuevas herramientas y habilidades que
                lo ayuden a crecer tanto intelectual como personalmente. Los números y el pensamiento critico es su
                pasion, por eso le llama mucho la atención los mercados financieros, la programación y la estadistica.

            </p>
        </span>
    </div>
</div> 