.row{
  padding: 15px;
}

div{
  text-align: center;
}
span{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align:center;
}
p{
  text-align: justify;
}
/*etiqueta nombre*/

#nombre{
  font-size: 30px;
  font-weight:bold;
  margin-top: 20px;
}


#fotoperfil{
    width: 40%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px;
    margin-top:-50px;
    
  }

  @media (min-width: 766px) {
    #fotoperfil{
      width:100%;
    }
}

