.row{
  padding: 15px;
}

div{
  text-align: center;
}
span{
  text-align:center;
}

/*etiqueta nombre*/

#nombre{
  font-size: 30px;
  font-weight:bold;
}


/*estilo de foto de perfil*/
@media(min-width:505px){
  #fotoperfil{
    position:absolute;
    width: 15%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px;
    left: 2%;
    top: 230px;
    
  }
}

@media(max-width:504px){
  #fotoperfil{
    position:absolute;
    width: 40%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px;
    left: 32%;
    top: 300px;    
  }
}
