<div class="row">
    <h1>HARD SKILLS</h1>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <h5>HTML</h5>
    <circle-progress
    [percent]="65"
    [radius]="70"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="800"
    [titleColor]="'#FFFFFF'"
    [unitsColor]="'#FFFFFF'"
    [titleFontSize]="'25'"
    [subtitleFontSize]="'20'"
    [unitsFontSize]="'15'"
    [space]="2"
    [outerStrokeGradient]="true"
    [subtitleColor]="'#ffffff'"

  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <h5>CSS</h5>
    <circle-progress
    [percent]="35"
    [radius]="70"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="800"
    [titleColor]="'#FFFFFF'"
    [unitsColor]="'#FFFFFF'"
    [titleFontSize]="'25'"
    [subtitleFontSize]="'20'"
    [unitsFontSize]="'15'"
    [space]="2"
    [outerStrokeGradient]="true"
    [subtitleColor]="'#ffffff'"

  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <h5>JS</h5>
    <circle-progress
    [percent]="45"
    [radius]="70"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="800"
    [titleColor]="'#FFFFFF'"
    [unitsColor]="'#FFFFFF'"
    [titleFontSize]="'25'"
    [subtitleFontSize]="'20'"
    [unitsFontSize]="'15'"
    [space]="2"
    [outerStrokeGradient]="true"
    [subtitleColor]="'#ffffff'"

  ></circle-progress>
  </div>
  <h1>SOFT SKILLS</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <h5>INGLES</h5>
    <circle-progress
    [percent]="92"
    [radius]="70"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="800"
    [titleColor]="'#FFFFFF'"
    [unitsColor]="'#FFFFFF'"
    [titleFontSize]="'25'"
    [subtitleFontSize]="'20'"
    [unitsFontSize]="'15'"
    [space]="2"
    [outerStrokeGradient]="true"
    [subtitleColor]="'#ffffff'"

  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <h5>RESOLUCION DE PROBLEMAS</h5>
    <circle-progress
    [percent]="95"
    [radius]="70"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="800"
    [titleColor]="'#FFFFFF'"
    [unitsColor]="'#FFFFFF'"
    [titleFontSize]="'25'"
    [subtitleFontSize]="'20'"
    [unitsFontSize]="'15'"
    [space]="2"
    [outerStrokeGradient]="true"
    [subtitleColor]="'#ffffff'"

  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <h5>ADAPTABILIDAD</h5>
    <circle-progress
    [percent]="90"
    [radius]="70"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="800"
    [titleColor]="'#FFFFFF'"
    [unitsColor]="'#FFFFFF'"
    [titleFontSize]="'25'"
    [subtitleFontSize]="'20'"
    [unitsFontSize]="'15'"
    [space]="2"
    [outerStrokeGradient]="true"
    [subtitleColor]="'#ffffff'"

  ></circle-progress>
  </div>
</div>