<div class="row">
    <div class="col-lg-8 text-center offset-lg-2 "><h1 class="text-center">HARD & SOFT SKILLS</h1>
    </div>
    <div class="col-lg-2 text-center">
      <button type="button" routerLink="/newskill" class="btn btn-secondary" *ngIf="isLogged">Nueva Skill</button>
    </div>
    
<div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let skill of skill">
    <h5>{{skill.nombre}}</h5>
    <circle-progress
    [percent]="(skill.porcentaje)"
    [radius]="70"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="800"
    [titleColor]="'#FFFFFF'"
    [unitsColor]="'#FFFFFF'"
    [titleFontSize]="'25'"
    [subtitleFontSize]="'20'"
    [unitsFontSize]="'15'"
    [space]="2"
    [outerStrokeGradient]="true"
    [subtitleColor]="'#ffffff'"

  ></circle-progress>
<div>
  <td *ngIf="isLogged">
    <button class="btn btn-dark" routerLink="/editskill/{{skill.id}}">
    <i class="bi bi-pencil"></i>                
</button>
    </td>
<td *ngIf="isLogged">
    <button class="btn btn-danger" (click)="delete(skill.id)" >
    <i class="bi bi-trash-fill"></i></button></td>
  </div> 
 </div>


  
  
</div>