.row{    
  padding: 20px;
  margin-bottom: 30px;
}

div{  
  background-color:#405061;
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
}

h1, h3 { 
  display: inline;
  text-decoration: underline; 
}