<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Descripcion del trabajo 1</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Descripcion del trabajo 2</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>Descripcion del trabajo 3</p>
        </ul>
    </div>
</div>  
